@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
/* font-family: 'Rubik Doodle Shadow', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
/* font-family: 'Diphylleia', serif;
 */


/* PARALLAX*/
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("/assets/img/bgOne.jpg");
}

.parallax2 {
  background-image: url("/assets/img/bgTwo.jpg");
}

h1 {
  color: #44A33D;
  font-size: 75px;
  font-family: 'Rubik Doodle Shadow', cursive;
  background-color: white;
  text-align: center;
}

.symbole {
  height: 2rem;
  width: auto;
  margin-bottom: 4rem;
}

body {
  color: white;
}

.navbar {
  background-color: #44A33D;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  font-weight: bold;
}


.navbar-brand {
  font-family: 'Rubik Doodle Shadow', cursive;
  color: white;
}

.navbar-brand:hover {
  color: white;
  font-weight: bold;
}

.transit {
  background-color: #44A33D;
}

.foot {
  background-color: #44A33D;
}

.footLink {
  color: white;
}

.footLink:hover {
  color: white;
  font-weight: bold;
}


/* cards profil stagiaires */
.card {
  margin-bottom: 20px;
}

body>div.parallax.parallax1>div>div>div>div {
  background-color: rgba(68, 163, 61, 0.2);
  color: white;
  width: 10rem;

}

.card-title {
  font-family: 'Diphylleia', serif;
  background-color: rgba(68, 163, 61, 0.5);
  font-weight: lighter;
  color: black;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
}

.child {
  flex-basis : 15%
}

.img {
  height: 5rem;
  width: auto;
}